In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
df=pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
df['Cabin']=df['Cabin'].fillna('Unknown')

In [33]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [34]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [35]:
df=df.dropna()

In [36]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [38]:
df['Family size']=df['SibSp']+df['Parch']+1
df['Family size']

0      2
1      2
2      1
3      2
4      1
      ..
886    1
887    1
888    4
889    1
890    1
Name: Family size, Length: 889, dtype: int64

In [41]:
df['Is child']=df['Age'].apply(lambda x: 1 if x<16 else 0)
df['Is child']

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: Is child, Length: 889, dtype: int64

In [43]:
df['Age bin']=pd.cut(df['Age'],bins=[0,12,18,50,100],labels=['Child', 'Teen', 'Adult', 'Senior'])
df['Age bin']

0      Adult
1      Adult
2      Adult
3      Adult
4      Adult
       ...
886    Adult
887    Adult
888    Adult
889    Adult
890    Adult
Name: Age bin, Length: 889, dtype: category
Categories (4, object): ['Child' < 'Teen' < 'Adult' < 'Senior']

In [44]:
df['FareBin'] = pd.qcut(df['Fare'], q=4, labels=['Low','Medium','High','Very High'])

In [45]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df['Fare'] = np.where(df['Fare'] > upper, upper,
                      np.where(df['Fare'] < lower, lower, df['Fare']))

In [49]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family size,Is child,Age bin,FareBin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S,2,0,Adult,Low
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,65.6563,C85,C,2,0,Adult,Very High
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S,1,0,Adult,Medium
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,0,Adult,Very High
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S,1,0,Adult,Medium

In [53]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
df[['Age', 'Fare','Family size']] = scaler.fit_transform(df[['Age','Fare','Family size']])

In [55]:
df = pd.get_dummies(df, columns=['Sex','Embarked','Age bin','FareBin'], drop_first=True)

In [57]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,Is child,Sex_male,Embarked_Q,Embarked_S,Age bin_Teen,Age bin_Adult,Age bin_Senior,FareBin_Medium,FareBin_High,FareBin_Very High
0,1,0,3,"Braund, Mr. Owen Harris",-0.590495,1,0,A/5 21171,-0.818784,Unknown,...,0,True,False,True,False,True,False,False,False,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.643971,1,0,PC 17599,2.043778,C85,...,0,False,False,False,False,True,False,False,False,True
2,3,1,3,"Heikkinen, Miss. Laina",-0.281878,0,0,STON/O2. 3101282,-0.785701,Unknown,...,0,False,False,True,False,True,False,True,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.412509,1,0,113803,1.428379,C123,...,0,False,False,True,False,True,False,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0.412509,0,0,373450,-0.779575,Unknown,...,0,True,False,True,False,True,False,True,False,False

In [58]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Family size', 'Is child', 'Sex_male',
       'Embarked_Q', 'Embarked_S', 'Age bin_Teen', 'Age bin_Adult',
       'Age bin_Senior', 'FareBin_Medium', 'FareBin_High',
       'FareBin_Very High'],
      dtype='object')